@charset "UTF-8";
/* 共通 */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Shippori Mincho", serif;
}
.fv picture img {
  display: block;
  width: 100%;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
header {
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 100;
  width: 100%;
}
.wrapper {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}
.fv {
  position: relative;
}
.fv-copy,
.fv-subcopy,
.fv-coin,
.fv-coincopy {
  position: absolute;
  color: white;
  font-weight: lighter;
}
.title {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
  font-weight: lighter;
}
/* スマホ */
/* FV */
/* pc用メニュー削除 */
.p-only {
  display: none;
}
/* スマホ用ハンバーガー表示 */
.s-only,
.nav-s {
  display: block;
}
.s-menu,
.icon-close {
  display: none;
}
.s-menu.open {
  display: block;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 15px 0;
  z-index: 90;
}
.nav-s {
  position: relative;
  z-index: 100;
}
.nav-s.open .icon-menu {
  display: none;
}
.nav-s.open .icon-close {
  display: block;
  width: 40px;
}
.s-menu.open a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: -10px;
}
.s-menu.open li {
  list-style: none;
  margin: 20px;
  padding-top: 15px;
  border-top: 1px solid #a6a6a6;
}
.s-menu.open .cta {
  display: block;
  padding: 5px 15px;
  background: linear-gradient(to bottom, #966400, #c5870b);
  border-radius: 5px;
  color: #fff;
}

/* メインコピー */
.fv-copy {
  top: 40px;
  left: 10%;
  font-size: clamp(24px, 6vw, 36px);
  width: 85%;
  line-height: 1.2;
}
.fv-copy span {
  color: #966400;
  color: linear-gradient(to bottom, #966400, #f8bd47);
  font-size: clamp(55px, 6vw, 80px);
}
/* サブコピー */
.fv-subcopy {
  top: 35%;
  right: 0%;
  width: 62%;
  font-size: clamp(16px, 2vw, 24px);
}
.fv-subcopy span {
  margin-left: 1.5em;
}
/* バッジ */
.fv-coin {
  bottom: 2%;
  left: 11%;
  width: 30%;
}
.fv-coincopy {
  bottom: 8%;
  left: 20%;
  font-size: clamp(18px, 2.5vw, 40px);
  line-height: 1;
}
.fv-coincopy span {
  font-size: clamp(48px, 5vw, 80px);
  line-height: 0.8;
  margin-left: 1rem;
}

/* about */
.about {
  background-image: url(images/about-s.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

/* reason */
.reason-title {
  background-color: #051844;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: lighter;
  font-size: 20px;
}
.reason-card {
  display: block;
  background: linear-gradient(to bottom, #c5870b, #966400);
  height: 150px;
  width: 150px;
  border-radius: 12px;
  color: #fff;
  padding-top: 25px;
  padding-left: 10px;
  font-size: 14px;
  margin: 15px 10px;
}
.reason-text {
  font-size: 12px;
  margin: auto 0;
}
.reason-text ul {
  list-style: disc;
  padding-left: 1.5em;
}
.reason-item {
  display: flex;
  justify-content: space-around;
}
.reason-revers {
  flex-direction: row-reverse;
  background-color: #e2e2e2;
}
/* plan */
.plan {
  background: linear-gradient(to bottom, #a6a6a6, #d9d9d9, #737373);
}
.plan-subtitle {
  text-align: center;
  font-size: 14px;
}
.plan-title {
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 260px;
  padding: 10px 20px;
  margin-left: -30px;
  line-height: 0.9;
  margin-top: 30px;
}
.plan-title span {
  font-size: 14px;
}

.plan-stan {
  background-color: #051844;
}
.plan-prem {
  background-color: #966400;
}

.plan .plan-text {
  text-align: left;
}
.plan-text {
  font-size: 14px;
  line-height: 1.2rem;
}
.plan-text span {
  display: inline-block;
  text-decoration: underline;
  font-size: 16px;
  letter-spacing: 0.2rem;
  margin: 10px 0;
}

.plan img {
  display: block;
  width: 100%;
  margin-top: 20px;
}
/* special */
.special {
  background-image: url(images/special-s.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.special p {
  font-size: 14px;
}
.p-arrow {
  display: none;
}
.special .red {
  font-size: 20px;
  color: red;
}
.special .zero {
  font-size: 40px;
}
.special-coinposition {
  position: relative;
}
.special-coin {
  width: 110px;
}
.special-coincopy {
  position: absolute;
  left: 32px;
  top: 15px;
  color: #fff;
  z-index: 100;
  line-height: 1rem;
}
.special-coincopy span {
  font-size: 40px;
  line-height: 2.2rem;
  color: #fff;
  margin-left: 1rem;
}
.special-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.special .cta {
  display: inline-block;
  background: linear-gradient(to bottom, #f5d68d, #c5870b);
  border-radius: 8px;
  padding: 10px 14px;
  margin: 20px 0;
  text-decoration: none;
  color: #000;
}

/* footer */
footer {
  background-color: #051844;
  background: linear-gradient(to bottom, #233f80, #07090f);
  color: white;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}
.footer-sns {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-top: 15px;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.footer-items a {
  text-decoration: none;
  color: #fff;
}
footer span {
  position: absolute;
  display: block;
  width: 150px;
  padding: 15px 20px 10px 10px;
  background: linear-gradient(to bottom, #f5d68d, #c5870b);
  color: #000;
  border-radius: 16px;
  right: -30px;
  bottom: 50px;
}
footer p {
  margin-top: 15px;
}

/* pc */
@media screen and (min-width: 769px) {
  /* pc共通 */
  .about .title,
  .plan .title,
  .special .title {
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
  }
  /* fv */
  /* pc用メニュー */
  .p-only {
    display: flex;
    list-style: none;
    gap: 25px;
    color: white;
    font-size: 18px;
  }
  .p-only a {
    text-decoration: none;
    color: white;
  }
  .p-only .cta {
    color: black;
  }
  .header .cta {
    display: block;
    padding: 12px 21px;
    background: linear-gradient(to bottom, #f5d68d, #c5870b);
    border-radius: 16px;
    margin-top: -8px;
    margin-right: -40px;
  }
  /* スマホ用メニュー削除 */
  .s-only {
    display: none;
  }
  /* メインコピー */
  .fv-copy {
    top: 8%;
    left: 5%;
  }
  /* サブコピー */
  .fv-subcopy {
    left: 5%;
    top: 50%;
  }
  .fv-subcopy span {
    margin-left: 0;
  }

  /* バッジ */
  .fv-coin {
    left: 30%;
    width: 15%;
  }
  .fv-coincopy {
    left: 34%;
    bottom: 10%;
  }
  .fv-coincopy span {
    margin-left: 1.6rem;
  }
  /* about */
  .about {
    background-image: url(images/about-p.png);
    text-align: left;
  }

  /* reason */
  .reason-card {
    height: 40%;
    width: 80%;
    padding: 5px 0 15px 25px;
    font-size: 18px;
    margin: 15px auto;
  }
  .reason-text {
    margin: 10px auto;
    font-size: 16px;
  }
  .reason-item {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    flex: 1;
  }
  .reason-pearent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  /* plan */
  .plan {
    background: linear-gradient(to bottom, #a6a6a6, #d9d9d9);
  }
  .plan-subtitle {
    text-align: left;
    font-size: 20px;
    letter-spacing: -0.1rem;
  }
  .plan-title {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
  .plan img {
    margin-top: 0;
    height: 100%;
    width: 220px;
  }
  .plan-text {
    font-size: 16px;
  }
  .plan-text span {
    font-size: 20px;
    line-height: 1.5rem;
  }
  .plan-item-revers {
    display: flex;
    flex-direction: row-reverse;
    background-color: #d9d9d9;
    margin: 20px 0 50px 15px;
  }
  .plan-item {
    display: flex;
    background-color: #d9d9d9;
    margin: 20px 15px 50px 0;
  }
  .plan-pearent {
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }
  /* special */
  .special {
    background-image: url(images/special-p.png);
    padding: 20px 0 50px 0;
  }
  .special p {
    font-size: 28px;
  }
  .special .red {
    font-size: 40px;
  }
  .special .zero {
    font-size: 70px;
  }
  .special-coin {
    margin-top: 15px;
    width: 180px;
  }
  .special-coincopy {
    position: absolute;
    left: 48px;
    top: 37px;
    line-height: 1.7rem;
  }
  .special-coincopy span {
    font-size: 70px;
    line-height: 3.2rem;
    margin-left: 1rem;
  }
  .s-arrow {
    display: none;
  }
  .p-arrow {
    display: block;
    margin-top: 20px;
  }
  .special-flex {
    justify-content: space-around;
    gap: 15px;
    margin-top: 15px;
  }
  .special-pc-flex {
    display: flex;
    align-items: baseline;
    gap: 80px;
  }
  .special-cta {
    text-align: right;
    margin-right: 100px;
    margin-top: -100px;
  }
  .special .cta {
    font-size: 24px;
  }
  /* footer */
  footer {
    padding: 40px 0;
  }
  .footer-items {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    margin-top: 50px;
  }
  .footer-sns {
    gap: 30px;
  }
  .footer-sns img {
    width: 40px;
    margin-top: 20px;
  }
  .footer-logo img {
    width: 150px;
    margin-top: 15px;
  }
  footer span {
    position: absolute;
    bottom: 250px;
  }
  footer p {
    margin-top: 60px;
  }
}
